/* Style geral do placar */
.placar__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style do cronômetro */
.tempo__container,
.times__container {
  width: 80%;
  margin: 0.5rem;
  padding: 1rem;
  text-align: center;
  border: 1px solid #dddddd;
  border-radius: 15px;
}

.tempo__contador {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tempo__contador h1 {
  padding-right: 1rem;
  font-size: 1.5rem;
}

.tempo__contador span {
  font-size: 2.5rem;
}

.tempo__container button {
  width: 5.5rem;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem;
  border-radius: 15px;
}

#btnStart {
  background-color: seagreen;
}

#btnPause {
  background-color: yellowgreen;
}

#btnResume {
  background-color: tomato;
}

/* Style dos times */
.times__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.placar__time {
  width: 100%;

  padding: 0.5rem;
  border-radius: 15px;
}

.placar__time h1 {
  font-size: 1.25rem;
  height: 1.25rem;
}

.placar__time h4 {
  font-size: 5rem;
  margin: 4rem 0;
}

.divisor {
  padding: 0.25rem;
  font-size: 2rem;
}

.placar__time button {
  margin: 0.15rem 0.3rem;
  padding: 0.5rem;

  border-radius: 15px;
}

.gol-validado {
  background-color: seagreen;
}

.gol-cancelado {
  background-color: tomato;
}

.a {
  background-color: cornflowerblue
}

.b {
  background-color: coral;
}




/* .placar__time {
  width: 30rem;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0rem 0.5rem;
  text-align: center;
  border: 1px solid #dddddd;
  text-transform: uppercase;
  border-radius: 30px;
}

.a {
  background-color: #00eb0887;
}

.b {
  background-color: #00b4eb87;
}

.placar__time h3 {
  margin-top: 2rem;
  font-size: 7.5rem;
}

.placar__time button {
  border: none;
} */

/* Styles dos botões dos times */
/* .gol-validado {
  margin-top: 5rem;
  padding: 0.75rem 2rem;
}

.gol-cancelado {
  margin-top: 1rem;
  padding: 0.5rem 0.5rem;
} */

/* Style do tempo */
/* .tempo__container {
  text-align: center;
  padding: 10rem 2rem;
}

.tempo__container h1 {
  font-size: 2.5rem;
}

.tempo__container span {
  font-size: 4rem;
}

.btnTimer {
  padding: 0.5rem 0.75rem;
  margin: 0.5rem;
  border: none;
} */