/* Style geral do placar */
.placar__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style do cronômetro */
.tempo__container,
.times__container {
  width: 80%;
  margin: 0.5rem;
  padding: 1rem;
  text-align: center;
  border: 1px solid #dddddd;
  border-radius: 15px;
}

.tempo__contador {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tempo__contador h1 {
  padding-right: 1rem;
  font-size: 1.5rem;
}

.tempo__contador span {
  font-size: 2.5rem;
}

.tempo__container button {
  width: 5.5rem;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem;
  border-radius: 15px;
}

#btnStart {
  background-color: seagreen;
}

#btnPause {
  background-color: yellowgreen;
}

#btnResume {
  background-color: tomato;
}

/* Style dos times */
.times__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.placar__time {
  width: 100%;

  padding: 0.5rem;
  border: 1px dashed black;
  border-radius: 15px;
}

.placar__time h1 {
  font-size: 1.25rem;
  height: 1.25rem;
  text-transform: uppercase;
}

.placar__time h4 {
  font-size: 5rem;
  margin: 4rem 0;
}

.divisor {
  padding: 0.25rem;
  font-size: 2rem;
}

.placar__time button,
.placar__reset button {
  margin: 0.15rem 0.3rem;
  padding: 0.5rem;

  border-radius: 15px;
}

.gol-validado {
  background-color: seagreen;
}

.gol-cancelado {
  background-color: tomato;
}

/* 
.a {
  background-color: cornflowerblue
}

.b {
  background-color: coral;
} */

.placar__reset {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .placar__time h1 {
    font-size: 2.75rem;
  }

  .placar__time h4 {
    font-size: 8rem;
  }

}